/* ===========================================================================
   Botones
   =========================================================================== */

.Btn,
#{$all-buttons}
  float: left
  cursor: pointer
  border: $borde-transparente
  height: ceil(strip-units($alto-boton * $tamano-base)) + px
  display: inline-block
  padding: $padding-boton
  overflow: hidden
  font-size: $tamano-fuente
  background: transparent
  text-align: center
  font-weight: $peso-fuente-boton
  line-height: ceil(strip-units($alto-boton * $tamano-base)) + px
  white-space: nowrap
  border-radius: $radio-borde
  letter-spacing: 1px
  text-transform: $trans-fuente-boton
  text-decoration: none
  @include appearance(none)
  @include transition($duracion-corta $timing)
  &:focus:not(:disabled),
  &:hover:not(:disabled),
  &:active:not(:disabled)
    @include transition($duracion-corta $timing)
  &:disabled
    cursor: not-allowed
    opacity: 0.7

/**
 * 1. Remueve el puntillado interno de los botones con foco en navegadores Firefox.
 */
button::-moz-focus-inner
  border-style: none; /* 1 */

/* Boton Info
   =========================================================================== */
.Btn-Info
  @include variante-boton($color-fondo, $color-alerta-texto-info, $color-alerta-texto-info)

/* Boton Error
   =========================================================================== */
.Btn-Error
  @include variante-boton($color-fondo, $color-alerta-texto-error, $color-alerta-texto-error)

/* Boton Default
   =========================================================================== */
.Btn-Default
  color: $color-fuente
  border: $borde
  background: $color-fondo
  text-shadow: 0 1px 0 darken($color-fondo, 12%)
  > i
    color: $color-fuente
  &:focus:not(:disabled),
  &:hover:not(:disabled),
  &:active:not(:disabled)
    color: $color-fuente
    background: darken($color-fondo, 12%)
    border-color: $gris-claro

/* Boton Success
   =========================================================================== */
.Btn-Success
  @include variante-boton($color-fondo, $color-alerta-texto-success, $color-alerta-texto-success)

/* Boton Warning
   =========================================================================== */
.Btn-Warning
  @include variante-boton($color-fondo, $color-alerta-texto-warning, $color-alerta-texto-warning)

/* Boton Primario
   =========================================================================== */
.Btn-Primario
  @include variante-boton($color-fondo, $color-primario, $color-primario)

/* Boton File
   =========================================================================== */
.Btn-File
  overflow: hidden

/* Boton Link
   =========================================================================== */
.Btn-Link
  color: $color-links
  background: transparent
  font-weight: $peso-fuente-links
  text-transform: none
  @include transition(all .5s $timing)
  &:focus:not(:disabled),
  &:hover:not(:disabled),
  &:active:not(:disabled)
    @include transform(scale(1.1))
    @include transition(all .5s $timing)

/* Boton de Tabla
   =========================================================================== */
.Btn-Tabla,
  color: $gris
  border: none
  height: auto
  padding: 0 ($alto-boton / 8)
  font-size: $tamano-fuente-chico
  background: transparent
  line-height: $tamano-fuente
  text-transform: none
  > i
    font-size: $tamano-fuente-grande
  &:focus:not(:disabled),
  &:hover:not(:disabled),
  &:active:not(:disabled)
    color: $color-primario

/* Tamanos de boton
   =========================================================================== */
.Btn-Chico
  height: $alto-control-chico
  padding: $padding-boton-chico
  font-size: $tamano-fuente
  line-height: $alto-boton-chico

.Btn-Grande
  height: $alto-control-grande
  padding: $padding-boton-grande
  font-size: 1.5rem
  line-height: $alto-boton-grande
  border-radius: $alto-boton-grande / 2

/* Boton Bloque
   =========================================================================== */
.Btn-Bloque
  width: 100%

