/* =========================================================================== 
   Utilidades Responsive
   =========================================================================== */ 


@include media($mobile)
  .--visible-desde-telefonos
    display: block

  .--oculto-desde-telefonos,
  .--oculto-desde-phablets,
  .--oculto-desde-tablets,
  .--oculto-desde-escritorios,
  .--visible-desde-phablets,
  .--visible-desde-tablets,
  .--visible-desde-escritorios
    display: none

@include media($phablet)
  .--oculto-desde-telefonos,
  .--visible-desde-telefonos,
  .--visible-desde-phablets
    display: block

  .--oculto-desde-phablets,
  .--oculto-desde-tablets,
  .--oculto-desde-escritorios,
  .--visible-desde-tablets,
  .--visible-desde-escritorios
    display: none

@include media($tablet)
  .--oculto-desde-telefonos,
  .--oculto-desde-phablets,
  .--visible-desde-telefonos,
  .--visible-desde-phablets,
  .--visible-desde-tablets
    display: block

  .--oculto-desde-tablets,
  .--oculto-desde-escritorios,
  .--visible-desde-tablets,
  .--visible-desde-escritorios
    display: none

@include media($max-width)
  .--oculto-desde-telefonos,
  .--oculto-desde-phablets,
  .--oculto-desde-tablets,
  .--visible-desde-telefonos,
  .--visible-desde-phablets,
  .--visible-desde-tablets,
  .--visible-desde-escritorios
    display: block

  .--oculto-desde-escritorios
    display: none
