/* =========================================================================== 
   Utilidades Responsive
   =========================================================================== */ 


@include media($mobile)
  .El--visible-desde-telefonos
    display: block

  .El--oculto-desde-telefonos,
  .El--oculto-desde-phablets,
  .El--oculto-desde-tablets,
  .El--oculto-desde-escritorios,
  .El--visible-desde-phablets,
  .El--visible-desde-tablets,
  .El--visible-desde-escritorios
    display: none

@include media($phablet)
  .El--oculto-desde-telefonos,
  .El--visible-desde-telefonos,
  .El--visible-desde-phablets
    display: block

  .El--oculto-desde-phablets,
  .El--oculto-desde-tablets,
  .El--oculto-desde-escritorios,
  .El--visible-desde-tablets,
  .El--visible-desde-escritorios
    display: none

@include media($tablet)
  .El--oculto-desde-telefonos,
  .El--oculto-desde-phablets,
  .El--visible-desde-telefonos,
  .El--visible-desde-phablets,
  .El--visible-desde-tablets
    display: block

  .El--oculto-desde-tablets,
  .El--oculto-desde-escritorios,
  .El--visible-desde-tablets,
  .El--visible-desde-escritorios
    display: none

@include media($max-width)
  .El--oculto-desde-telefonos,
  .El--oculto-desde-phablets,
  .El--oculto-desde-tablets,
  .El--visible-desde-telefonos,
  .El--visible-desde-phablets,
  .El--visible-desde-tablets,
  .El--visible-desde-escritorios
    display: block

  .El--oculto-desde-escritorios
    display: none
