/* ===========================================================================
   Variables
   =========================================================================== */


/* Tipografias
   =========================================================================== */
$fuente:                  'Open Sans', sans-serif
$fuente-encabezados:      'Open Sans', sans-serif

$tamano-base:             13px
$tamano-fuente:           1rem
$tamano-fuente-chico:     $tamano-fuente * 0.8
$tamano-fuente-grande:    $tamano-fuente * 1.2
$tamano-fuente-parrafo:   $tamano-fuente

$tamano-fuente-h1:        $tamano-fuente * 2.4
$tamano-fuente-h2:        $tamano-fuente * 2
$tamano-fuente-h3:        $tamano-fuente * 1.6
$tamano-fuente-h4:        $tamano-fuente-grande
$tamano-fuente-h5:        $tamano-fuente
$tamano-fuente-h6:        $tamano-fuente-chico

$alto-linea:              1.5
$alto-linea-computado:    floor(($tamano-base * $alto-linea))
$alto-linea-encabezados:  1.2

$peso-fuente-links:       400
$peso-fuente-parrafo:     400
$peso-fuente-encabezados: 600

$trans-encabezados:       none

$decoracion-links:        none
$decoracion-links-hover:  none

/* Colores
   =========================================================================== */
$color-primario:        #2196f3
$color-primario-oscuro: #1976d2

$color-info:            $color-primario
$color-error:           #d32f2f
$color-success:         #388e3c
$color-warning:         #afb42b

$color-sombra:          rgba(0,0,0,0.07)

/* Grises
   =========================================================================== */
$gris:                  #9e9e9e
$gris-claro:            #bdbdbd
$gris-oscuro:           #757575
$gris-mas-claro:        #e0e0e0
$gris-mas-oscuro:       #212121

$color-fuente:          $gris-oscuro
$color-links:           $gris-mas-oscuro
$color-links-hover:     $gris-mas-oscuro

$color-borde:           $gris-claro
$color-borde-claro:     $gris-mas-claro
$color-borde-oscuro:    $gris-mas-oscuro

$color-fondo:           #fff
$color-variante-fondo:  #fafafa

$color-deshabilitado:   $color-variante-fondo

/* Colores de alerta
   =========================================================================== */
$color-alerta-texto-info:    tint($color-info, 5%)
$color-alerta-texto-error:   tint($color-error, 5%)
$color-alerta-texto-success: tint($color-success, 5%)
$color-alerta-texto-warning: tint($color-warning, 5%)

$color-alerta-borde-info:    tint($color-info, 75%)
$color-alerta-borde-error:   tint($color-error, 75%)
$color-alerta-borde-success: tint($color-success, 75%)
$color-alerta-borde-warning: tint($color-warning, 75%)

$color-alerta-fondo-info:    tint($color-info, 90%)
$color-alerta-fondo-error:   tint($color-error, 90%)
$color-alerta-fondo-success: tint($color-success, 90%)
$color-alerta-fondo-warning: tint($color-warning, 90%)

/* Bordes
   =========================================================================== */
$borde:              1px solid $color-borde
$borde-claro:        1px solid $color-borde-claro
$borde-oscuro:       1px solid $color-borde-oscuro
$borde-transparente: 1px solid transparent

$radio-borde:        4px
$radio-borde-chico:  3px
$radio-borde-grande: 6px

/*  Controles de formulario y botones
   =========================================================================== */
$alto-boton:             3.2rem
$alto-boton-chico:       2rem
$alto-boton-grande:      4rem

$alto-control:           $alto-boton
$alto-control-chico:     $alto-boton-chico
$alto-control-grande:    $alto-boton-grande

$padding-boton:          0 ($alto-control / 4)
$padding-boton-chico:    0 ($alto-control-chico / 4)
$padding-boton-grande:   0 ($alto-control-grande / 4)

$padding-control:        ($alto-control / 8) ($alto-control / 4)
$padding-control-chico:  ($alto-control-chico / 8) ($alto-control-chico / 4)
$padding-control-grande: ($alto-control-grande / 8) ($alto-control-grande / 4)

$peso-fuente-boton:      400
$peso-fuente-control:    300
$peso-fuente-etiquetas:  600

$trans-fuente-boton:     none
$trans-fuente-etiquetas: none

/* Margenes
   =========================================================================== */
$margen: $tamano-fuente * 4
$margen-chico: $tamano-fuente * 2
$margen-grande: $margen * 2
$margen-muy-chico: $tamano-fuente
$margen-muy-grande: $margen * 4

/* Espaciados
   =========================================================================== */
$espaciado: 0.6rem
$espaciado-grande: $espaciado * 2
$espaciado-chico: $espaciado-grande / 3

/* Header
   =========================================================================== */
$alto-logo:                3rem
$alto-header:              $alto-logo * 3

$peso-fuente-navegacion:   600
$color-fuente-navegacion:  $gris-oscuro
$trans-fuente-navegacion:  none
$tamano-fuente-navegacion: $tamano-fuente-parrafo

$padding-header:           $alto-logo
$padding-header-mobile:    $alto-logo / 3
$padding-items-navegacion: $tamano-fuente-navegacion $espaciado-grande

$alto-header-mobile:       $alto-logo + ($padding-header-mobile * 2)

/* Sidebar
   =========================================================================== */
$ancho-sidebar:         $margen-muy-grande

/* Relaciones de aspecto
   =========================================================================== */
$aspecto1-1:  100%
$aspecto4-3:  75%
$aspecto3-2:  (200 / 3) + %
$aspecto8-5:  62.5%
$aspecto16-9: 56.25%

/* Animaciones
   =========================================================================== */
$timing:   ease-in-out
$duracion: 0.2s
$duracion-corta: (1 / 7) + s
$duracion-larga: 0.5s

/* Grilla
   =========================================================================== */
$column:       6rem
$gutter:       2rem
$em-base:      $tamano-base
$max-width:    84rem
$grid-columns: 12

/* Breakpoints
   =========================================================================== */
$primer--bp: 414px
$segundo-bp: 768px
$tercer--bp: 1024px

/* Tamanos de pantalla
   =========================================================================== */
$mobile:     new-breakpoint(max-width rem($primer--bp - 1px))
$phablet:    new-breakpoint(min-width rem($primer--bp) max-width rem($segundo-bp - 1px))
$tablet:     new-breakpoint(min-width rem($segundo-bp) max-width rem($tercer--bp - 1px))
$escritorio: new-breakpoint(min-width (rem($tercer--bp)))
