@mixin variante-alerta($color-texto-alerta, $color-borde-alerta, $color-fondo-alerta)
  color: $color-texto-alerta
  border-color: $color-borde-alerta
  background-color: $color-fondo-alerta

  hr
    border-color: $color-borde-alerta

  .Link-Alerta
    color: $color-borde-alerta
