@mixin validacion-controles($color-texto-control, $color-borde-control, $color-fondo-control)
  div.Checkbox,
  div.Radiobtn,
  input[type="text"],
  input[type="email"],
  input[type="password"]
    color: $color-texto-control
  & label,
  & span.Mensaje-Validacion 
    color: $color-texto-control

  input[type="text"],
  input[type="email"],
  input[type="password"]
    box-shadow: 0 0 0 $alto-control $color-fondo-control inset
    border-color: $color-borde-control
    background-color: $color-fondo-control
    -webkit-text-fill-color: $color-texto-control
    @include placeholder
      color: $color-borde-control
    &:focus,
    &:active
      border-color: $color-texto-control
      -webkit-text-fill-color: $color-texto-control
    + label
      color: $color-borde-control

  .Controles-Agrupados
    color: $color-texto-control
    border-color: $color-borde-control
