/* ===========================================================================
   Desplegables
   =========================================================================== */


nav.Menu-Desplegable
  float: left
  display: none
  opacity: 0.9
  z-index: 11
  position: absolute
  max-width: 20rem
  background: $color-variante-fondo

ul.Lista-Menu-Desplegable
  float: left
  padding: $espaciado 0

li.Item-Menu-Desplegable
  float: left
  width: 100%
  display: block
  font-size: $tamano-fuente
  letter-spacing: 1px
  @include transition(background $timing $duracion)
  &:focus,
  &:hover
    @include transition(background $timing $duracion)
  > a
    float: left
    width: 100%
    padding: $espaciado ($alto-boton / 2)

  &.Separador
    margin: $espaciado 0
    border-bottom: $borde-claro

.Menu-Desplegable-Default
  border: $borde-claro
  ul.Lista-Menu-Desplegable
    background: $color-fondo
  li.Item-Menu-Desplegable
    &:focus,
    &:hover
      background: $gris-mas-claro
      > a:not(:disabled)
        color: $gris-mas-oscuro
    > a:not(:disabled)
      color: $gris-mas-oscuro
  &.El--con-sombra-abajo
    box-shadow: 0 $radio-borde-chico 0 0 $color-sombra
    &.El--con-sombra-derecha
      box-shadow: 0 $radio-borde-chico 0 0 $color-sombra, ($radio-borde-chico) 0 0 0 $color-sombra
    &.El--con-sombra-izquierda
      box-shadow: 0 $radio-borde-chico 0 0 $color-sombra, (0 - $radio-borde-chico) 0 0 0 $color-sombra
  &.El--con-sombra-arriba
    box-shadow: 0 -1px 0 0 $color-sombra
    &.El--con-sombra-derecha
      box-shadow: 0 -1px 0 0 $color-sombra, ($radio-borde-chico) 0 0 0 $color-sombra
    &.El--con-sombra-izquierda
      box-shadow: 0 -1px 0 0 $color-sombra, (0 - $radio-borde-chico) 0 0 0 $color-sombra

.Menu-Desplegable-Negativo
  border: 1px solid $gris-oscuro
  ul.Lista-Menu-Desplegable
    background: $gris-oscuro
  li.Item-Menu-Desplegable
    &:focus,
    &:hover
      background: $gris-mas-oscuro
    > a:not(:disabled)
      color: $color-fondo
      font-weight: 600
  &.El--con-sombra-abajo
    box-shadow: 0 1px 0 10000px $color-sombra
  &.El--con-sombra-arriba
    box-shadow: 0 1px 0 10000px $color-sombra
