/* ===========================================================================
   Desplegables
   =========================================================================== */


nav.Menu-Desplegable
  float: left
  border: $borde-claro
  display: none
  z-index: $capa-navegacion + 2
  position: absolute
  background: $color-variante-fondo

nav.Menu-Desplegable.--desplegable-visible
  display: block

nav.Menu-Desplegable.Negativo
  border: transparent
  background: $gris-oscuro

ul.Lista-Menu-Desplegable
  float: left

li.Item-Menu-Desplegable
  float: left
  width: 100%
  display: block
  font-size: $tamano-fuente-parrafo
  letter-spacing: 1px
  text-transform: uppercase
  @include transition(background $timing $duracion)
  &:focus,
  &:hover
    background: $color-primario
    @include transition(background $timing $duracion)
    > a
      color: $color-fondo
  > a
    float: left
    width: 100%
    padding: $padding-tabla-vertical 2rem

nav.Menu-Desplegable.Negativo
  li.Item-Menu-Desplegable
    &:focus,
    &:hover
      background: $gris-mas-oscuro
    > a
      color: $color-fondo
      font-weight: 600
