/* ===========================================================================
   Pagination
   =========================================================================== */


.pagination
  float: left
  display: inline-block
  > li
    display: inline
    > a,
    > span
      color: inherit
      float: left
      width: $alto-control
      border: $borde-claro
      height: $alto-control
      background: transparent
      text-align: center
      line-height: $alto-control
      margin-left: -1px
      text-decoration: none
    &:first-child
      > a,
      > span
        margin-left: 0
        @include border-left-radius($radio-borde)
    &:last-child
      > a,
      > span
        margin-right: 0
        @include border-right-radius($radio-borde)

  > li > a,
  > li > span
    &:focus,
    &:hover
      color: $color-fondo
      z-index: 1
      background: $color-primario
      border-color: $color-primario

  > .active > a,
  > .active > span
    &:focus,
    &:hover
      color: $color-fondo
      cursor: default
      z-index: 2
      background: $color-primario-oscuro
      border-color: $color-primario

  > .disabled
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus
      color: $gris-claro
      cursor: default
      background: $color-deshabilitado
      border-color: $color-borde-claro
