/* ===========================================================================
   Pagination
   =========================================================================== */


.pagination
  display: inline-block
  > li
    display: inline
    > a,
    > span
      color: inherit
      float: left
      width: $alto-control
      border: $borde-claro
      height: $alto-control
      background: transparent
      text-align: center
      line-height: $alto-control
      margin-left: $espaciado
      border-radius: $radio-borde
      text-decoration: none
    &:first-child
      > a,
      > span
        margin-left: 0
    &:last-child
      > a,
      > span
        margin-right: 0

  > li > a,
  > li > span
    &:focus,
    &:hover
      color: $color-fondo
      z-index: 1
      background: $color-primario
      border-color: $color-primario

  > .active > span
    cursor: default
    z-index: 2
    background: $color-alerta-fondo-info
    border-color: $color-alerta-borde-info
    &:focus,
    &:hover
      background: $color-alerta-fondo-info
      border-color: $color-alerta-borde-info

  > .disabled
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus
      color: $gris-claro
      cursor: default
      background: $color-deshabilitado
      border-color: $color-borde-claro
