form.Formulario-Filtros
  margin-bottom: $espacio-muy-chico

span.Cuenta-Resultados
  font-size: $tamano-fuente-chico
  margin-bottom: $espacio-chico

div.Pagination
  .pagination
    float: right
    margin: 2.2rem 0
  span.Cuenta-Resultados
    width: auto
    line-height: $alto-control
    margin-bottom: 0
