/* ===========================================================================
   Desplegables
   =========================================================================== */

nav#menuAuth,
nav#menuNavegacion
  top: $alto-header-mobile
  width: 100%
  position: fixed


/* Media Queries
   =========================================================================== */
@include media(min-width $segundo-bp)
  nav#menuAuth,
  nav#menuNavegacion
    top: $alto-header-mobile + 1rem
    width: $ancho-sidebar
    z-index: $capa-navegacion + 1
