/* ===========================================================================
   Desplegables
   =========================================================================== */

nav#menuAuth,
nav#menuNavegacion
  top: $alto-header-mobile
  width: 100%
  position: fixed

  li.Item-Menu-Desplegable
    > i
      margin-right: $padding-tabla-vertical
    > a > i
      margin-right: $padding-tabla-vertical


/* Media Queries
   =========================================================================== */
@include media(min-width $segundo-bp)
  nav#menuNavegacion
    top: $alto-header-mobile + 1rem
    width: $ancho-sidebar
    z-index: $capa-navegacion + 1
